<nav class="nav-container">
    <div class="nav-glass-bg"></div>

    <a href="{{ site.baseurl }}/index.html" class="nav-logo">
        <img src="{{ site.baseurl }}/assets/img/logo.svg" alt="Hoshino Kanata">
    </a>
    
    <button class="wave-hamburger js-menu-open">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</nav>

<div class="menu-window" id="menuWindow">
    <div class="menu-prism-bg"></div>
    <div class="menu-visual-area">
        <img src="{{ site.baseurl }}/assets/img/character_000.webp" alt="Menu Illust" class="menu-illust-img">
    </div>

    <div class="menu-content-area">
        <button class="menu-close" id="menuClose">✕</button>

        <div class="menu-inner">
            <div class="fragaria-menu-grid">
                <a href="{{ site.baseurl }}/index.html" class="menu-top-logo">
                    <img src="{{ site.baseurl }}/assets/img/logo.svg" alt="Hoshino Kanata">
                </a>
                <a href="{{ site.baseurl }}/index.html" class="f-menu-item"><span class="f-mark">✦</span>HOME</a>
                <a href="{{ site.baseurl }}/news/" class="f-menu-item"><span class="f-mark">✦</span>NEWS</a>
                <a href="#" class="f-menu-item"><span class="f-mark">✦</span>STORY</a>
                <a href="#" class="f-menu-item"><span class="f-mark">✦</span>CHARACTER</a>
                <a href="{{ site.baseurl }}/mv/" class="f-menu-item"><span class="f-mark">✦</span>MV</a>
                <a href="#" class="f-menu-item"><span class="f-mark">✦</span>GALLERY</a>
                <a href="#" class="f-menu-item"><span class="f-mark">✦</span>SPECIAL</a>
                <a href="https://tayori.com/form/9e9bf22272fefe5dc64d89eaffe38382d5343636/" target="_blank">CONTACT</a>
            </div>
            <div class="f-menu-sub">
                <div class="f-sub-row">
                    <span class="f-sub-label">公式アカウント</span>
                    <a href="https://x.com/V_HoshinoKanata" class="f-sub-link" target="_blank">X</a>
                    <a href="https://www.youtube.com/@hoshino_kanata" class="f-sub-link" target="_blank">YouTube</a>
                    <a href="https://hoshino-kanata.booth.pm/" class="f-sub-link" target="_blank">BOOTH</a>
                </div>

                <a href="{{ site.baseurl }}/guideline.html" target="_blank" class="elegant-fc-btn">
                  <div class="feather-icon-wrapper">
                    <svg class="feather-icon" fill="none" height="14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" viewBox="0 0 24 24" width="14" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.67 19a2 2 0 0 0 1.416-.588l6.154-6.172a6 6 0 0 0-8.49-8.49L5.586 9.914A2 2 0 0 0 5 11.328V18a1 1 0 0 0 1 1z" />
                      <path d="M16 8 2 22" />
                      <path d="M17.5 15H9" />
                    </svg>
                  </div>
                  <span class="fc-text">GUIDELINE</span>
                </a>

                <a href="https://raidori.com/fanclub/user/22770" target="_blank" class="elegant-fc-btn">
                  <div class="feather-icon-wrapper">
                    <svg class="feather-icon" fill="none" height="14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" viewBox="0 0 24 24" width="14" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.67 19a2 2 0 0 0 1.416-.588l6.154-6.172a6 6 0 0 0-8.49-8.49L5.586 9.914A2 2 0 0 0 5 11.328V18a1 1 0 0 0 1 1z" />
                      <path d="M16 8 2 22" />
                      <path d="M17.5 15H9" />
                    </svg>
                  </div>
                  <span class="fc-text">OFFICIAL FAN CLUB</span>
                </a>
            </div>
        </div>
    </div>
</div>